

@media screen and (max-width: 600px){
body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size:700px 1300px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
}

@media screen and (min-width: 1300px){
body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size: 1550px 1200px;
  background-attachment: scroll;
}
}


@media screen and (max-width: 600px){
.Welcome {
  display: flex;
  padding-top: 70px;
  align-items: center;
  justify-content: center;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: 10px;
  color: white;
  border: seashell;
}
}

@media screen and (min-width: 1300px){
.Welcome {
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: xx-large;
  color: white;
  border: seashell;
}
}


@media screen and (max-width: 600px){
.chef-hat{
  padding-left: 10px;
  display: flex;
  color: white;
  width: 30px;
}
}

@media screen and (min-width: 1300px){
.chef-hat{
  padding-left: 20px;
  display: flex;
  color: white;
  width: 60px;
}
}

.chef-hat:hover{
   transform:rotateY(360deg);
   transition: 1.5s;
}


@media screen and (max-width: 600px){
.welcome-message {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 10px 20px;
}
}

@media screen and (min-width: 1300px){
.welcome-message {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 200px;
}
}

nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 600px){
nav a{
width: 100px;
display: inline-block;
padding-top: 40px;
padding-bottom: 50px;
text-decoration: none;
font-size: 17px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}

@media screen and (min-width: 1300px){
nav a{
width: 180px;
display: inline-block;
padding-top: 40px;
padding-bottom: 20px;
text-decoration: none;
font-size: 30px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}



.border:hover{
border-bottom: solid rgb(86, 152, 103) 5px;
transition: ease-in 0.4s;
text-transform: uppercase;
}


ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

li {
  float:left;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color:beige;
}


@media screen and (max-width: 600px){
.audio-bit {

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  left: 38%;
  right: 38%; 
}
}

@media screen and (min-width: 1300px){
.audio-bit {

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  left: 38%;
  right: 38% 
}
}


@media screen and (max-width: 600px){
h4 {
  align-items: center;
  text-shadow: #3b413e;
  color: blanchedalmond;
  text-align: center;
  font-size: 12px;
  padding-top: 30px;
}
}

@media screen and (min-width: 1300px){
h4 {
  align-items: center;
  text-shadow: #3b413e;
  color: blanchedalmond;
  text-align: center;
  padding-top: 30px;
}
}