body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size: cover;
}


.Welcome {
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: x-large;
  color: white;
  border: seashell;
}

.chef-hat{
  padding-left: 20px;
  display: flex;
  color: white;
}

.chef-hat:hover{
   transform:rotateY(360deg);
   transition: 1.5s;
}

.welcome-message {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5px 300px;
}

nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}

nav a{
width: 150px;
display: inline-block;
padding-top: 40px;
padding-bottom: 20px;
text-decoration: none;
font-size: 22px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}

.border:hover{
border-bottom: solid rgb(86, 152, 103) 5px;
transition: ease-in 0.4s;
text-transform: uppercase;
}


ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

li {
  float:left;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color:beige;
}



.audio-bit {

  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 100px;
  left: 38%;
  right: 38% 
}

h4 {
  align-items: center;
  text-shadow: #3b413e;
  color: blanchedalmond;
  text-align: center;
}
