/*CSS Start*/


/*body background*/

body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size: cover;
}


/*navigation*/

nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}

nav a{
width: 150px;
display: inline-block;
padding-top: 40px;
padding-bottom: 20px;
text-decoration: none;
font-size: 22px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}


.border:hover{
border-bottom: solid rgb(86, 152, 103) 5px;
transition: ease-in 0.4s;
text-transform: uppercase;
}

.nav_ul ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.nav_ul li {
  float:left;
  font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color:beige;
}

/*h2 element*/

.ingredientslist{
  text-align: center;
  margin-top: 3px;
  color: rgb(231, 223, 223);
}

/*ribs logo*/
.ribs{
    padding-left: 10px;
}


/*ribs description under first h2 element*/
.ribs_desc{
  text-indent: 40px;
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
  margin-left: 50px;
  margin-right: 50px;
  color: white
}

/*ribs listed ingredients*/
.shortrib_ingredients{
    list-style: inside;
  text-align: center;
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
  color: white;
}

/*cook & prep section - H2 element*/
.prep{
    text-align: center;
  margin-top: 3px;
  color: white;
}

.cookinginstructions{
font-size: 18px;
font-weight: 200;
margin-left: 50px;
margin-right: 50px;
padding: 0px 250px;
font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
color: white;
}