body {
  background-image: url(backdrop.jpg);
  background-position: relative;
  background-size: cover;
}

nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}

nav a{
width: 150px;
display: inline-block;
padding-top: 40px;
padding-bottom: 20px;
text-decoration: none;
font-size: 22px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}


.border:hover{
border-bottom: solid rgb(86, 152, 103) 5px;
transition: ease-in 0.4s;
text-transform: uppercase;
}

.nav_ul ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.nav_ul li {
  float:left;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color:beige;
}

.ingredients{
  color: rgb(231, 223, 223);
}

.cook{
  color: rgb(231, 223, 223);
  justify-content: left;
}

.steps{
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
   margin-left: 30px;
  margin-right: 50px;
  padding: 0px 350px;
}

.ingredientslist{
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
  text-align: center;
  margin-top: 3px;
  color: rgb(231, 223, 223);
}

.pasta_desc{

  text-indent: 40px;
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
  margin-left: 50px;
  margin-right: 50px;
}

.prep{
  text-align: center;
}

.clock{
  padding: 10px;
}

.veggie{
  padding: 10px;
}

.spaghetti_ingredients{
  list-style: inside;
  text-align: center;
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;

}