@media screen and (max-width: 600px){
.about {
    text-align: center; font-family: "Comic Relief", system-ui;
font-weight: 400; font-size: 12px;
}
}


.about {
    text-align: center; font-family: "Comic Relief", system-ui;
font-weight: 400; font-size: x-large;
}

@media screen and (max-width: 600px){
body {
  background-image: url(backdrop.jpg);
  background-position: relative;
  background-size: 550px 675px;
  background-repeat: no-repeat;
}
}

@media screen and (min-width: 1300px){
body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size: 2020px 2500px;
  background-repeat: no-repeat;
}
}


nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 600px){
nav a{
width: 100px;
display: inline-block;
padding-top: 40px;
padding-bottom: 50px;
text-decoration: none;
font-size: 17px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}

@media screen and (min-width: 1300px){
nav a{
width: 170px;
display: inline-block;
padding-top: 40px;
padding-bottom: 20px;
text-decoration: none;
font-size: 30px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}

.border:hover{
border-bottom: solid rgb(86, 152, 103) 5px;
transition: ease-in 0.4s;
text-transform: uppercase;
}




ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

li {
  float:left;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color:beige;
}

 @media screen and (max-width: 600px){
.about {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 15px 20px;
}
}

@media screen and (min-width: 1300px){
.about {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 200px;
}
}


@media screen and (min-width: 1300px){
h1 {
font-family: "Comic Relief", system-ui;
font-weight: 400;
font-size: 40px;
display: flex;
justify-content: center;
align-items: center;
color: white
}
}

@media screen and (max-width: 600px){
h1 {
font-family: "Comic Relief", system-ui;
font-weight: 400;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
color: white
}
}


@media screen and (min-width: 1300px){
.family_pic {
    justify-content: center;
    align-items: center;
    display: block;
    width: 500px;
    height: auto;
    border: 10px;
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
}

@media screen and (max-width: 600px){
.family_pic {
    justify-content: center;
    align-items: center;
    display: block;
    width: 270px;
    height: auto;
    border: 10px;
    border-style: solid;
    border-color: antiquewhite;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
}



.family_pic:hover{
  transform:rotateX(360deg);
  transition: 2s;
}


@media screen and (max-width: 600px){
figcaption {
font-family: "Comic Relief", system-ui;
font-weight: 400;
font-size: 10px;
display: flex;
justify-content: center;
align-items: center;
color: white
}
}

@media screen and (min-width: 1300px){
figcaption {
font-family: "Comic Relief", system-ui;
font-weight: 400;
font-size: medium;
display: flex;
justify-content: center;
align-items: center;
color: white
}
}