/*CSS Start*/


/*body background*/

@media screen and (max-width: 600px){
body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size: 700px 1050px;
  background-attachment: scroll;
}
}

@media screen and (min-width: 1300px){
body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size: 1700px 1800px;
  background-attachment: scroll;
}
}


/*navigation*/

nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 600px){
nav a{
width: 100px;
display: inline-block;
padding-top: 40px;
padding-bottom: 50px;
text-decoration: none;
font-size: 17px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}

@media screen and (min-width: 1300px){
nav a{
width: 180px;
display: inline-block;
padding-top: 40px;
padding-bottom: 20px;
text-decoration: none;
font-size: 30px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}


.border:hover{
border-bottom: solid rgb(86, 152, 103) 5px;
transition: ease-in 0.4s;
text-transform: uppercase;
}

.nav_ul ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

.nav_ul li {
  float:left;
  font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color:beige;
}

/*h2 element*/

@media screen and (min-width: 1300px){
.ingredientslist{
  text-align: center;
  margin-top: 3px;
  color: rgb(231, 223, 223);
   font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
}
}

@media screen and (max-width: 600px){
.ingredientslist{
  font-size: 19px;
  text-align: center;
  margin-top: 3px;
  color: rgb(231, 223, 223);
   font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
}
}

/*egg logo*/
.egg{
    padding-left: 10px;
}


/*egg description under first h2 element*/
@media screen and (min-width: 1300px){
.egg_desc{
  text-indent: 40px;
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
  margin-left: 50px;
  margin-right: 50px;
  color: white
}
}

@media screen and (max-width: 600px){
.egg_desc{
  text-indent: 20px;
  font-size: l2px;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
padding: 10px;
  color: white;
}
}

/*egg listed ingredients*/
@media screen and (min-width: 1300px){
.egg_ingredients{
    list-style: inside;
  text-align: center;
  font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
  color: white;
}
}

@media screen and (max-width: 600px){
.egg_ingredients{
    list-style: inside;
  text-align: center;
  font-size: 12px;
  padding-right: 20px;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
  color: white;
}
}


/*cook & prep section - H2 element*/
@media screen and (min-width: 1300px){
.prep{
    text-align: center;
  margin-top: 3px;
  color: white;
  font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
}
}

@media screen and (max-width: 600px){
.prep{
    text-align: center;
  margin-top: 3px;
  color: white;
  font-size: 19px;
  font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
}
}

@media screen and (min-width: 1300px){
.cook{
font-size: 18px;
font-weight: 200;
margin-left: 50px;
margin-right: 50px;
padding: 0px 250px;
font-size: large;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
color: white;
}
}

@media screen and (max-width: 600px){
.cook{
font-size: 12px;
font-weight: 200;
font-family: "Comic Relief", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 400;
color: white;
}
}