@media screen and (max-width: 600px){
body {
  background-image: url(backdrop.jpg);
  background-position: relative;
  background-size: cover;
  background-attachment: scroll;
}
}

@media screen and (min-width: 1300px){
body {
  background-image: url(backdrop.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
}


@media screen and (min-width: 1300px){
.my-recipes {
font-family: "Comic Relief", system-ui;
font-weight: 400;
font-size: x-large;
display: flex;
justify-content: center;
align-items: center;
color: white;
margin-bottom: 20px;
}
}

@media screen and (max-width: 600px){
.my-recipes {
font-family: "Comic Relief", system-ui;
font-weight: 400;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
color: white;
margin-bottom: 20px;
}
}




h1 {
  font-size:xx-large
}

nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px){
nav a{
width: 100px;
display: inline-block;
padding-top: 40px;
padding-bottom: 50px;
text-decoration: none;
font-size: 17px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}

@media screen and (min-width: 1300px){
nav a{
width: 180px;
display: inline-block;
padding-top: 40px;
padding-bottom: 20px;
text-decoration: none;
font-size: 30px;
font-family: "Comic Relief", system-ui;
font-weight: 400;
color:antiquewhite;
text-align: center;
justify-content: center;
}
}


.border:hover{
border-bottom: solid rgb(86, 152, 103) 5px;
transition: ease-in 0.4s;
text-transform: uppercase;
}



ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

li {
  float:left;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color:beige;
}

@media screen and (min-width: 1300px){
.grid-container {
  display: grid;
	grid-template-columns: 425px 425px 425px;
	gap: 30px;
  row-gap: 0px;
  justify-items: center;
  justify-content: center;
}
}

@media screen and (max-width: 600px){
.grid-container {
  display: grid;
	grid-template-columns: 200px;
	column-gap: 0px;
  row-gap: 20px;
  justify-items: center;
  justify-content: center;
}
}

@media screen and (min-width: 1300px){
.grid-item {
			background-color: #79968db6;
			padding: 20px;
			text-align: center;
      justify-items: center;
      border: 10px;
      border-style:solid;
      border-color: rgb(122, 128, 123);
      height: 70%;
}
}


@media screen and (max-width: 600px){
.grid-item {
			background-color: #79968db6;
			padding-top: 0px;
			text-align: center;
      justify-items: center;
      border: 10px;
      border-style:solid;
      border-color: rgb(122, 128, 123);
      height: 90%;
}
}

.grid-item:hover {
  transform:scale(1.1);
  transition: ease 0.5s;
}

@media screen and (min-width: 1300px){
.grid-item img{
  width: 100%;
  height: 90%;
  justify-self: center;
}
}

@media screen and (max-width: 600px){
.grid-item img{
  width: 200px;
  height: auto;
  justify-self: center;
}
}



@media screen and (min-width: 1300px){
.grid-item h3{
font-size:medium;
color:beige;
font-family: "Comic Relief", system-ui;
font-weight: 400;
cursor: pointer;
}
}

@media screen and (max-width: 600px){
.grid-item h3{
font-size:10px;
color:beige;
font-family: "Comic Relief", system-ui;
font-weight: 400;
cursor: pointer;
}
}


