/* Styles for screens 600px wide or more */
  @media screen and (max-width: 450px) {
    body {
      background-image: url(background.png);
      width: 100%;
      background-size: cover;
      height: 150vh;
      background-repeat: no-repeat;
      background-position: center;
      font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(255, 255, 255);

    }
  }


  /*h1 & p element styling */
    h1 {
 font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  /*strong ME color */
  strong{
    color: rgb(54, 218, 185);
    font-style: italic;
    padding-left: 8px;
  }

  strong:hover{
    cursor: pointer;
  }

  /*home page link ME*/
  a{
    text-decoration: none;
  }

  p{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    font-size: medium;
  }

  /*form element styling*/
  form{
    width: 425px;
    max-width: 500px;
    min-width: 350px;
    align-items: center;
    margin: 0 auto;
  }

  /*fieldset border*/
  fieldset {
    border: none;
  }


  /*form labels*/
  label {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
  }

  /*input and textarea styling*/
  input[type="text"],textarea {
    display: block;
    width: 365px;
    padding: 5px;
    max-width: 500px;
    min-width: 350px;
    margin: 0 auto;
    background-color: rgba(55, 131, 99, 0.322);
    color: white;
  }

  /*placeholder color text */
  ::placeholder{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }

/*submit button styling */
input[type="submit"] {
  display: block;
  padding: 10px;
  width: 50%;
  max-width: 60%;
  min-width: 40%;
  background-color: white;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: medium;
  margin: 15px auto;
}

/*styling hover input*/
input:hover,textarea:hover{
  border: 2px solid white;
  transition: 0.3s;
}

/*styling focused input*/
input:focus,textarea:focus{
  border: 2px solid rgb(54, 218, 185);
  transition: 0.3s;
  outline: none;
}

 /* NAV */

  nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}

nav a{
width: 80px;
display: inline block;
text-decoration: none;
font-size: 17px;
font-family:"Roboto", Verdana, Geneva, Tahoma, sans-serif;
color: white;
text-align: center;
justify-content:space-evenly;
padding-bottom: 0px;
}

nav a:hover {
  border-bottom: 2px solid rgb(54, 218, 185);
  transition: 0.5s;
}

ul {
  padding: 5px 12px;
  margin: 0px 2px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

li {
  float:left;
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-size: larger;
  text-align: center;
  justify-content: center;
  color: white;
}
