
/*media query for mobile*/
@media (min-width: 375px) {

body {
    background-color:  hsl(216, 12%, 8%);
    font-family: Overpass, sans-serif;
}

h1 {
    color: white;
    font-size: 25px;
    padding-top: 5px;
}

p {
    color: rgb(162, 160, 160);
    font-size: 15px;
    justify-content: left;
    line-height: 20px;
}

.ratingcard {
    width: 300px;
    height: 300px;
    background-color:  hsl(213, 19%, 18%);
    padding: 20px;
    margin: auto;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.ratingcard img {
    display: flex;
    border-radius: 20px;
    border: 10px solid hsl(217, 12%, 63%);
    margin-top: 10px;
}

.ratings {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.rating-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
     border: none;
     background-color: hsl(213, 17%, 23%);
     color: white;
     font-weight: 400;
     border-radius: 50%;
     height: 40px;
     cursor: pointer;
}

.rating-btn:hover {
    background-color: hsl(25, 97%, 53%);
    color: black;
}

.rating-btn:active {
    background-color: white;
    color: black;
}

.rating-btn:focus {
    background-color: white;
    color: black;
}

.buttonsubmit{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

button{
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    height: 38px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: Overpass, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.buttonsubmit a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: white;
}

button:active {
    background-color: white;
}

button:focus {
    background-color: white;
}
}

/*media query for desktop*/
@media (min-width: 1440px) {

    body {
    background-color:  hsl(216, 12%, 8%);
    font-family: Overpass, sans-serif;
}

h1 {
    color: white;
    font-size: 25px;
    padding-top: 5px;
}

p {
    color: rgb(162, 160, 160);
    font-size: 15px;
    justify-content: left;
    line-height: 20px;
}

.ratingcard {
    width: 300px;
    height: 300px;
    background-color:  hsl(213, 19%, 18%);
    padding: 20px;
    margin: auto;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.ratingcard img {
    display: flex;
    border-radius: 20px;
    border: 10px solid hsl(217, 12%, 63%);
    margin-top: 10px;
}

.ratings {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.rating-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
     border: none;
     background-color: hsl(213, 17%, 23%);
     color: white;
     font-weight: 400;
     border-radius: 50%;
     height: 40px;
     cursor: pointer;
}

.rating-btn:hover {
    background-color: hsl(25, 97%, 53%);
    color: black;
}

.rating-btn:active {
    background-color: white;
    color: black;
}

.rating-btn:focus {
    background-color: white;
    color: black;
}

.buttonsubmit{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

button{
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    height: 38px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: Overpass, sans-serif;
    text-decoration: none;
    cursor: pointer;
}

.buttonsubmit a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: white;
}

button:active {
    background-color: white;
}

button:focus {
    background-color: white;
}
}