/* Styles for screens 600px wide or more */
  @media screen and (max-width: 600px) {
    body {
      background-image: url(background3.jpg);
      width: 100%;
      background-size: cover;
      height: 100vh;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
 

  /*header title */
  h1 {
 font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
  }
/*marcel name strong*/
  strong{
    font-style: italic;
    color:rgb(255, 56, 56);
  }


  /*section class for header & first paragraph element */
  .intro {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 30px;
    padding-top: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

/*profile image*/

.intro img{
  display: flex;
  padding-left: 30px;
  width: 50%;
  height: auto;
  align-items: center;
  
}

.intro img:hover {
transform:scale(1.2);
transition: ease-in 0.3s;
transition: ease-out 0.3s;
cursor: pointer;
}


  .intro_desc{
    display: flex;
    color: white;
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    padding: 25px;
    font-size: 20px;
    justify-content: center;
  }

  nav ul{
    list-style: none;
    text-decoration: none;
  }

  nav {
  width: 100%;
  overflow:visible;
  display: flex;
  justify-content: center;
}

nav a{
width: 90px;
display: inline-block;
padding-right: 0px;
padding-bottom: 0px;
text-decoration: none;
font-size: 17px;
font-style: italic;
font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 800;
color:rgb(255, 0, 0);
text-align: center;
justify-content: center;
}

/* nav a hover effects */
nav a:hover {
  border-bottom: 3px solid beige;
  width: fit-content;
}

ul {
  padding: 0;
  margin: 0 0 0 0px;
  list-style: none;
  text-align: center;
  justify-content: center;
}

li {
  float:left;
  font-family: "Comic Relief", system-ui;
  text-align: center;
  justify-content: left;
  color:beige;
}

/*Buttons for know more & contact info*/
.button1 {
  margin-left: 13%;
  padding-right: 15px;
  display: inline-flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.button2 {
  display: inline-flex;
  justify-content: center;
  padding-top: 20px;
  align-items: center;
}




/*button1 styling */
.know_more{
  font-size: 17px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font: bold;
  width: 160px;
  height: 50px;
  background-color:rgb(81, 144, 156);
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}

/*button2 styling */
.contact_me{
  font-size: 17px;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;
  font: bold;
  width: 160px;
  height: 50px;
  background-color:rgb(81,144,156);
  border: 1px solid black;
  border-radius: 25px;
  cursor: pointer;
}

/*hover animation for buttons*/
.know_more:hover{
  background-image: linear-gradient(135deg, rgb(228, 0, 0) 10%, #f3a347 40%, #cac8c8 100%);
  transition: ease-in 2.0s;
}



.contact_me:hover{
  background-image: linear-gradient(135deg, rgb(228, 0, 0) 10%, #f3a347 40%, #cac8c8 100%);
  transition: ease-in 2.0s;
}


/* focus animation for buttons */
.contact_me:focus{
  transform: scale(1.15);
  transition: ease-in 0.5s;
  border: 2px solid rgb(214, 214, 184);
}

.know_more:focus{
  transform: scale(1.15);
  transition: ease-in 0.5s;
  border: 2px solid rgb(214, 214, 184);
}

